<%- include("./includes/head", { pageTitle: "An Error Occurred" }) %>
</head>
<body>
    <%- include("./includes/header") %>
    <main>
        <h1>Not Authenticated!</h1>
        <p>You aren't logged, please log on to proceed.</p>
        <p><a class="btn" href="/">Back to safety!</a></p>
    </main>
<%- include("./includes/footer") %>