<%- include("./includes/head", { pageTitle: "An Error Occurred" }) %>
</head>
<body>
    <%- include("./includes/header") %>
    <main>
        <h1>Something went wrong!</h1>
        <p>Unfortunately, there is an error at server side, please try again later.</p>
        <p><a class="btn" href="/">Back to safety!</a></p>
    </main>
<%- include("./includes/footer") %>