<article class="product-item">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <h2><%= product.title %></h2>
    <div>
        <a href="/admin/products/<%=product.id%>" class="btn btn-alt">View & Edit</a>
        <button class="btn btn-alt">Delete</button>
    </div>
</article>